<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.sustain">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/sustain_svg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".controllers.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controllers.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controllers.ViewReportsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controllers.RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controllers.MapsMarkerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controllers.EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controllers.ViewHistoricalGraph"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".controllers.SetAddressActivity"
            android:screenOrientation="portrait"/>
        <!--<activity android:name=".controllers.ReportActivity"/>-->
        <activity
            android:name=".controllers.ViewReportActivity"
            android:label="ViewingWaterReport"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="activityWaterReport"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false"/>

        <activity
            android:name=".controllers.SourceReportActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
        android:name=".controllers.PurityReportActivity"
        android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".controllers.ChooseReportActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>